{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.success-message{
  font-size: 1.8rem;
}

.error-message{
  font-size: 1.8rem;
  color: red;
}

{%- endstyle -%}



<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}



    {%- form 'contact', id: section.settings.form-id -%}
    
      {%- if form.posted_successfully? -%}
        <h2
          class="form-status form-status-list form__message"
          tabindex="-1"
          autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2
            class="form-status caption-large text-body"
            role="alert"
            tabindex="-1"
            autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      {%- for block in section.blocks -%}
        {% case block.settings.field-type %}
         
          {%- when 'email' -%}
            <div class="field field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="{{ block.settings.zapier-id }}"
                class="field__input"
                name="{{ block.settings.zapier-id }}"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                {% if block.settings.required %}
                  required="true"
                  aria-required="true"
                {% endif %}
                {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="{{ 'templates.contact.form.email' | t }}">
                <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}
                  <span aria-hidden="true">*</span>
                </label>
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                  </small>
                {%- endif -%}
            </div>
      
          {%- when 'phone' -%}
            <div class="field">
              <input
                type="tel"
                id="{{ block.settings.id }}"
                class="field__input"
                autocomplete="tel"
                name="{{ block.settings.zapier-id }}"
                pattern="[0-9\-]*"
                value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                placeholder="{{ 'templates.contact.form.phone' | t }}">
              <label class="field__label" for="{{ block.settings.name }}">{{ block.settings.name }}</label>
            </div>

          {%- when 'text' -%}
            <div class="field">
              <input
                {% if block.settings.required %}
                  required="true"
                  aria-required="true"
                {% endif %}
                id = "{{ block.settings.id }}"
                type="text"
                class="field__input"
                name="{{ block.settings.zapier-id }}"
                placeholder="{{ block.settings.name }}">
              <label class="field__label" for="{{ block.settings.name }}">{{ block.settings.name }}
                {% if block.settings.required %}
                  <span aria-hidden="true">*</span>
                {% endif %}
              </label>
            </div>
          
          {%- when 'textarea' -%}
            <div class="field">
              <textarea
                rows="10"
                id="ContactForm-body"
                class="text-area field__input"
                name="{{ block.settings.zapier-id }}"
                placeholder="{{ 'templates.contact.form.comment' | t }}">
                {{- form.body -}}
              </textarea>
              <label class="form__label field__label" for="{{ block.settings.name }}">{{ block.settings.name }}</label>
            </div>

        {%- endcase -%}
      {%- endfor -%}

      <div id="button-wrapper-{{ section.settings.form-id }}" class="contact__button" {% if section.settings.form-mode != "normal" %} style="display:none" {% endif %}>
          <button type="submit" class="button">
            {{ section.settings.submit-button-label }}
          </button>
      </div>
      <div id="success-wrapper-{{ section.settings.form-id }}" {% if section.settings.form-mode != "success" %} style="display:none" {% endif %}>
        <span class = "success-message">{{ section.settings.success-message }}</span>
      </div>
      <div id="error-wrapper-{{ section.settings.form-id }}" {% if section.settings.form-mode != "error" %} style="display:none" {% endif %}>
        <span class = "error-message">{{ section.settings.error-message }}</span>
      </div>

    {%- endform -%}

  </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous">
</script>

<script>
    $( document ).ready(function() {  
        $('#{{ section.settings.form-id }}').submit(function(e){
            e.preventDefault(); 
            $.ajax({ 
                url: '{{ section.settings.zapier-webhook-url }}silent',
                type: 'get',
                data:$('{{ section.settings.form-id }}').serialize(),
                success:function(){
                  //alert("Success");
                  // Hide submit button
                  $('#button-wrapper-{{ section.settings.form-id }}').css('display', 'none');
                  // Show the success message
                  $('#success-wrapper-{{ section.settings.form-id }}').css('display', 'block');
                },
                error:function(){
                  // Hide submit button
                  $('#button-wrapper-{{ section.settings.form-id }}').css('display', 'none');
                  // Show the error message
                  $('#error-wrapper-{{ section.settings.form-id }}').css('display', 'block');
                }
            });
        });
    });
</script>

{% schema %}
{
  "name": "t:sections.custom-contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Custom contact form",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "form-id",
      "default": "form-id",
      "label": "Form ID"
    },
    {
      "type": "text",
      "id": "zapier-webhook-url",
      "default": "https://hooks.zapier.com/hooks/catch/4718621/owcjpup/silent/",
      "label": "Zapier webhook url"
    },
    {
      "type": "text",
      "id": "success-message",
      "default": "Thank you",
      "label": "Success message"
    },
    {
      "type": "text",
      "id": "error-message",
      "default": "Error. Please try again later.",
      "label": "Error message"
    },
    {
      "type": "text",
      "id": "submit-button-label",
      "default": "Submit",
      "label": "Submit button label"
    },
    {
      "type": "select",
      "id": "form-mode",
      "default": "normal",
      "label": "Form mode",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "success",
          "label": "Success"
        },
        {
          "value": "error",
          "label": "Error"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
        "type": "contact-field",
        "name": "Field",
        "settings": [
          {
            "type": "text",
            "label": "Name",
            "id": "name"
          },
          {
            "type": "text",
            "label": "Zapier ID",
            "id": "zapier-id"
          },
          {
            "type": "checkbox",
            "label": "Required",
            "id": "required"
          },
          {
            "type": "select",
            "label": "Field type",
            "id": "field-type",
            "options": [
              {
                "value": "email",
                "label": "Email"
              },
              {
                "value": "phone",
                "label": "Phone"
              },
              {
                "value": "text",
                "label": "Text"
              },
              {
                "value": "textarea",
                "label": "Text area"
              }
            ]
          }
        ]
    }
  ],
  "presets": [
    {
      "name": "Custom Contact Form"
    }
  ]
}

{% endschema %}